// color variables:
$white: #ffffff;
$black: #000000;
$navigation: #1c1e27;
$main-color: #e5ebf0;
$pagination: #737e84;
$border-input: #b8ced7;
$button-hover: #00a9db;

$blue: #428bff;
$tabLabel: #31505B;

$accent: $button-hover;
$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;


