@import 'base/module';
@import 'vendors/module';
@import 'components/module';
@import 'layout/module';

//main
.main {
  background-color: $main-color;
  display: flex;
  &-container {
    padding: 20px 150px 50px 90px;
    width: 100%;
    min-height: 100vh;
  }
}

@import './page';
