@import 'vendors/common';
@import 'base/module';
@import 'components/module';
@import 'layout/module';

// @import './example';

//My custom reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 1px solid #a1c4ff;
}

ol,
ul {
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

//main
.main {
  background-color: $main-color;
  display: flex;
  &-container {
    padding: 20px 150px 0 90px;
    width: 100%;
  }
}