<header class="header">
  <div class="header-items">
    <div class="header-item__logo">
      <img src="./images/Logo.svg" alt="logo" />
      <p>Личный кабинет</p>
    </div>
    <div class="header-item__info">
      <div class="header-item__info-badge">
        <img src="./images/ManBadge.png" alt="badge icon" />
        <div>
          <strong>Константин П.</strong>
          <p>ID 441485</p>
        </div>
      </div>
      <div class="header-item__info-badge">
        <img src="./images/MoneyBadge.png" alt="badge_icon" />
        <div>
          <strong>Финансы и счета</strong>
          <p>1 050 280 тг</p>
        </div>
      </div>
      <div class="header-item__info-badge">
        <img src="./images/OrngBadge.png" alt="badge_icon" />
      </div>
    </div>
  </div>
</header>
<main class="main">
  <nav class="navigation">
    <div class="navigation-container">
      <ul class="navigation-items">
        <li>
          <a href="#"><img src="./images/matrix.svg" alt="matrix" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/webCircle.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/server.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/cloud.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/storage.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/window.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/language.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/home.png" /></a>
        </li>
      </ul>
    </div>
  </nav>
</main>
