<header class="header">
  <div class="header-items">
    <div class="header-item__logo">
      <img
        src="./images/sprite.svg#LogoPS"
        class="svg-LogoPS-dims"
        alt="LogoPS"
      />
      <p>Личный кабинет</p>
    </div>
    <div class="header-item__info">
      <div class="header-item__info-badge">
        <img src="./images/ManBadge.png" alt="badge icon" />
        <div>
          <p>Константин П.</p>
          <p>ID 441485</p>
        </div>
      </div>
      <div class="header-item__info-badge">
        <img src="./images/MoneyBadge.png" alt="badge_icon" />
        <div>
          <p>Финансы и счета</p>
          <p>1 050 280 тг</p>
        </div>
      </div>
      <div class="header-item__info-badge">
        <img src="./images/OrngBadge.png" alt="badge_icon" />
      </div>
    </div>
  </div>
</header>
<main class="main">
  <nav class="navigation">
    <div class="navigation-container">
      <ul class="navigation-items">
        <li>
          <a href="#"
            ><img
              src="./images/sprite.svg#Matrix"
              class="svg-LogoPS-dims"
              alt="LogoPS"
              style="width: 20px; height: 20px"
          /></a>
        </li>
        <li>
          <a href="#"><img src="./images/webCircle.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/server.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/cloud.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/storage.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/window.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/language.png" /></a>
        </li>
        <li>
          <a href="#"><img src="./images/home.png" /></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="main-container">
    <div class="content-items">
      <div class="content-items__pagination">
        <p><a href="#">Кабинет </a>/ <a href="#">Крошки облако и тп </a>/</p>
      </div>
      <div class="content-items__form">
        <div class="content-items__form-title">Создать новый сервер</div>
        <div class="content-items__form-description">
          Лид с кратким пояснением того, что здесь происходит. Ну или с
          объяснением возможностей. Лид с кратким пояснением того, что здесь
          происходит. Ну или с объяснением возможностей.
        </div>
        <div class="content-items__form-article">Название сервера и зона</div>
        <div class="content-items__form-container">
          <label class="form-label">
            <input class="form-input" required /><span class="placeholder"
              >Введите название сервера
            </span>
          </label>
          <label class="form-label">
            <input class="form-input" required /><span class="placeholder"
              >Зона
            </span>
          </label>
        </div>
      </div>
      <div class="content-items__tabs">
        <div class="content-items__tabs-title">Ресурсы</div>
        <div class="content-items__tabs-wrapper">
          <input type="radio" id="tab1" name="tab-control" checked />
          <input type="radio" id="tab2" name="tab-control" />
          <input type="radio" id="tab3" name="tab-control" />
          <input type="radio" id="tab4" name="tab-control" />
          <input type="radio" id="tab5" name="tab-control" />
          <ul class="content-items__tabs-labels">
            <li>
              <label class="content-items__tabs-label" for="tab1" role="button">
                Standard Line
              </label>
            </li>
            <li>
              <label class="content-items__tabs-label" for="tab2" role="button">
                CPU Line
              </label>
            </li>
            <li>
              <label class="content-items__tabs-label" for="tab3" role="button">
                Memory Line
              </label>
            </li>
            <li>
              <label class="content-items__tabs-label" for="tab4" role="button">
                Произвольная конфигурация
              </label>
            </li>
            <li>
              <label class="content-items__tabs-label" for="tab5" role="button">
                Мои конфигурации
              </label>
            </li>
          </ul>
          <div class="content-items__tabs-content">
            <section>
              <div class="card-items">
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
                <div class="card-item">
                  <button>
                    <strong> 1 </strong>
                    CPU / <strong> 2 </strong> GB RAM
                  </button>
                </div>
              </div>
            </section>
            <section>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea
              dolorem sequi, quo tempore in eum obcaecati atque quibusdam
              officiis est dolorum minima deleniti ratione molestias numquam.
              Voluptas voluptates quibusdam cum?
            </section>
            <section>
              Приятно, граждане, наблюдать, как элементы политического процесса
              будут указаны как претенденты на роль ключевых факторов. Ясность
              нашей позиции очевидна: перспективное планирование создаёт
              необходимость включения в производственный план целого ряда
              внеочередных мероприятий с учётом комплекса приоретизации разума
              над эмоциями. Высокий уровень вовлечения представителей целевой
              аудитории является четким доказательством простого факта:
              укрепление и развитие внутренней структуры влечет за собой процесс
              внедрения и модернизации своевременного выполнения сверхзадачи.
            </section>
            <section>
              Следует отметить, что существующая теория позволяет выполнить
              важные задания по разработке форм воздействия.
            </section>
            <section>
              В частности, граница обучения кадров, а также свежий взгляд на
              привычные вещи — безусловно открывает новые горизонты для новых
              принципов формирования материально-технической и кадровой базы.
              Для современного мира экономическая повестка сегодняшнего дня
              предопределяет высокую востребованность существующих финансовых и
              административных условий. Банальные, но неопровержимые выводы, а
              также явные признаки победы институционализации формируют
              глобальную экономическую сеть и при этом — в равной степени
              предоставлены сами себе. Идейные соображения высшего порядка, а
              также перспективное планирование влечет за собой процесс внедрения
              и модернизации новых предложений. Для современного мира реализация
              намеченных плановых заданий способствует подготовке и реализации
              дальнейших направлений развития. Следует отметить, что современная
              методология разработки является качественно новой ступенью новых
              принципов формирования материально-технической и кадровой базы.
              Таким образом, начало повседневной работы по формированию позиции
              однозначно фиксирует необходимость экспериментов, поражающих по
              своей масштабности и грандиозности. Не следует, однако, забывать,
              что граница обучения кадров говорит о возможностях системы
              обучения кадров, соответствующей насущным потребностям.
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
