.navigation {
  background-color: $navigation;
  padding: 15px 20px;
  width: 60px;
  @media (max-width: $mobile) {
    padding: 15px 10px;
    width: 100%;
    position: fixed;
    z-index: 50;
    bottom: 0;
  }
  &-container {
    position: sticky;
    top: 90px;
  }

  &-items {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: calc(100vh - 130px);
    align-items: center;
    & li:nth-child(7) {
      margin-top: auto;
    }
    @media (max-width: $mobile) {
      flex-direction: row;
      height: 20px;
      justify-content: space-between;
      & li:nth-child(7) {
        margin-top: inherit;
      }
    }
  }
}
