.navigation {
  background-color: $navigation;
  padding: 15px 20px;
  max-width: 80px;
  @media (max-width: $mobile) {
     padding: 15px 10px;
  }
  &-container {
    position: sticky;
    top: 90px;
  }

  &-items {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: calc(100vh - 130px);
    align-items: center;
    & li:nth-child(7) {
      margin-top: auto;
    }
  }
}
